services:
  redis:
    image: redis:7-alpine
    container_name: eventhub_redis
    ports:
      - "6379:6379"
    restart: always
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

  backend:
    build: ./backend
    container_name: eventhub_backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        MODE: development # production or development
    container_name: eventhub_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  redis_data:
